/** Add css rules here for your application. */

.navBar{
    width: auto;
    height: 100px;
    margin-left: 10px;
    text-align: left;
}

.navBtn{
    color: black;
    margin-top: 5px;
    display: inline-block;

}

.infoBox{
  padding-left: 40px;
  width: 20%;
  height: 100%;
  border-right: 2px solid #535353;
}

.line{
    border: 1px solid #535353;
    width: 90%;
}

.infoBtn{
    width: 60%;
    height: 10%;
    margin-left: 15%;
    margin-top: 5%;

}



#nav{
    Background-color: rgb(85, 166, 205);

}

#nav-wrapper{
    width: auto;
    height: 100px;


}

#nav ul{
    list-style-type: none;
    position: relative;

}

#nav ul li{
    display: inline-block;
    background-color: #63afcd;
    margin-top: 40px;
    height: 30%;
    width: 10%;
    text-align: center;

}

#nav ul li:hover{
    background-color: #2a89cd;

}


